@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

$card-border-color: $gray-600;
$card-bg: $gray-900; // rgb(30, 30, 30)

@import '../../node_modules/bootstrap/scss/grid';
@import '../../node_modules/bootstrap/scss/card';
// @import '../../node_modules/bootstrap/scss/transitions';
// @import '../../node_modules/bootstrap/scss/buttons';
.card-body {
    padding: 0px;
}

pre {
    white-space: pre-wrap;

    white-space: -o-pre-wrap;
}
