[submodule "@vscode-note"]
	path = vscode-note
	url = https://github.com/shinhwagk/vscode-note
	branch = vscode-note
[submodule "@gh-pages"]
	path = gh-pages
	url = https://github.com/shinhwagk/vscode-note
	branch = gh-pages
[submodule "@analytics"]
	path = analytics
	url = https://github.com/shinhwagk/vscode-note
	branch = analytics
