.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
src/**
test/**
webview/**
.gitignore
tsconfig.*
vsc-extension-quickstart.md
tslint.json
images/
webpack.*
coverage/
jest.config.js
yarn.lock
.babelrc
.travis.yml
.gitattributes